# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SPARK\SPARK_NCMS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
